                    <div class="text-center">
                        <a href="https://www.ibm.com/privacy/us/en/" target="_blank">Privacy Policy</a>
                        <!-- <a href="https://www.ibm.com/privacy/us/en/" target="_blank">Privacy Policy</a> &nbsp;© Copyright IBM Corporation 2018, 2019. All rights reserved. -->
                    </div>

<!--
<footer>
    <div class="footer-content">
        <div class="grid-container">
            <div class="grid-x">
                <div class="cell small-12">
                    <ul class="social">
                        <li><a href="https://github.com/microclimate-dev2ops"><img src="{% if site.baseurl | size > 1 %}{{site.baseurl | append: '--@@' | remove: '/--@@' | remove: '--@@' }}{% endif %}/dist/images/icon-logo-github.svg" alt="Github link"></a></li>
                        <li><a href="https://stackoverflow.com/tags/apiconnect-test-monitor/info"><img src="{% if site.baseurl | size > 1 %}{{site.baseurl | append: '--@@' | remove: '/--@@' | remove: '--@@' }}{% endif %}/dist/images/icon-logo-stackoverflow.svg" alt=API Connect Test and Monitor stackoverflow link"></a></li> 
                    </ul>
                    <div class="logo-slogan">                        
                        <p><a href="#"><img src="{% if site.baseurl | size > 1 %}{{site.baseurl | append: '--@@' | remove: '/--@@' | remove: '--@@' }}{% endif %}/dist/images/apic-logo.svg" alt="APIC logo"></a></p>
                        <p>Slogan.</p>
                    </div>
                </div>
            </div>
        </div>   
    </div>      
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.0-rc.2/dist/js/foundation.min.js" integrity="sha256-G6jsRyH1fxbsvFIXSCuwYmI1aIDYBa28xscrvmYjJy0= sha384-vtoG68NvPc9azmFJr447vvY8qgdyA4FdaJ5/bqvzIM4eAdZfO0iyRRF8l2AAscYI sha512-43seCcNrHA0BQgrtyajB9sp8yOdv5c8QdYvgjP7zJ7v+dmzAcxYDQ2gupb9aztsNWBq1COIp/3NHYkQs4l/dkg==" crossorigin="anonymous"></script>
<< Compressed JavaScript >>
<script src="{% if site.baseurl | size > 1 %}{{site.baseurl | append: '--@@' | remove: '/--@@' | remove: '--@@' }}{% endif %}/dist/scripts/main.js"></script>

</body>
</html>
-->
