<div role="navigation" aria-label="masthead" class="masthead">
    <div class="grid-x">
        <div class="cell small-8 medium-6 large-6 xxlarge-6 small-order-2 medium-order-1">
            <a href="./"><img src="dist/images/logo-and-header-incl-connect.svg" alt="APIC logo" class="logo"></a>
        </div>
        <div class="cell small-6 medium-6 large-6 xxlarge-6 small-order-1 medium-order-2">
        <!-- hide mobile menu button -->
            <!-- div class="mobile-nav-bar" data-responsive-toggle="toggle-main-nav" data-hide-for="medium">
                <button class="menu-icon" type="button" data-toggle="toggle-main-nav"></button>
            </div -->
            <div class="main-nav-wrapper" id="toggle-main-nav">
                <nav aria-label="main-nav" class="main-nav">
                    <ul class="vertical medium-horizontal menu">
                        <!-- li><a href="about" {% if page.permalink == 'about' %} class="current-page" {% endif %}>About</a></li -->
                        <li><a href="gettingstarted" {% if page.type == 'document' %} class="current-page" {% endif %}>Docs</a></li>
                        <li><a href="community" {% if page.permalink == 'community' %} class="current-page" {% endif %}>Community</a></li>
                        <!-- li><a href="news" {% if page.permalink == 'news' %} class="current-page" {% endif %}>News</a></li -->
                        <li><a href="https://medium.com/apitest" target="_blank">Blog</a></li>
                        <!-- li><a href="https://www.ibm.com/privacy/us/en/" target="_blank">Privacy Policy</a></li -->
                        <li><a href="https://us-east.apitest.apiconnect.ibmcloud.com/app" target="_blank">Login</a></li>
                        <li><a href="https://www.ibm.com/account/reg/signup?formid=urx-34073" target="_blank">Sign up</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- close masthead -->
