<div class="sidebar">
    <div><h1>Contents</h1></div>
    <p></p>
    <div><a href="document">Home</a></div>
    <div>Getting started</div>
    <ol class="gettingStarted">
        <li><a href="create-test">Creating a test</a></li>
        <li><a href="modify-test">Modifying a test</a></li>
        <li><a href="run-test">Running a test</a></li>
        <li><a href="publish-test">Publishing a test</a></li>
        <li><a href="schedule-test">Scheduling a test</a></li>
    </ol>
    <div>Component types</div>
    <ul class="componentTypes">
        <li>
            <div><a href="assertion-components">Assertion Components</a></div>
            <ol class="assertComponents">
                <li><a href="assert-compares">Assert Compares</a></li>
                <li><a href="assert-contains">Assert Contains</a></li>
                <li><a href="assert-equals">Assert Equals</a></li>
                <li><a href="assert-exists">Assert Exists</a></li>
                <li><a href="assert-greater">Assert Greater</a></li>
                <li><a href="assert-in">Assert In</a></li>
                <li><a href="assert-is">Assert Is</a></li>
                <li><a href="assert-less">Assert Less</a></li>
                <li><a href="assert-matches">Assert Matches</a></li>
            </ol>
        </li>
    </ul>
    <div>Additional tasks</div>
    <ol class="additionalInfo">
        <li><a href="delete-project">Deleting a project</a></li>
        <li><a href="delete-test">Deleting a test</a></li>
        <li><a href="open-test-in-composer">Opening a test in the Composer</a></li>
    </ol>
</div>
