.hero {
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;

    @include breakpoint(medium){
        padding: 0 36px 36px 36px;
    }

    @include breakpoint(large){
        height: 810px;
    }
}

.hero-content {
    @include breakpoint(small only){
        margin-top: 85%;
        padding: 0 36px 36px 36px;
    }
    
    @include breakpoint(medium){
        text-align: right;
    }
}

.hero-title {
    font-weight: 700;
    margin: 1rem 0;
    font-size: 20px;
    line-height: 80px;

    @include breakpoint(medium){
        margin: 1rem 0 2rem 0;
    }
}

.hero-subtitle {
    font-weight: 300;
    margin-bottom: 1rem;
    font-size: 12px;
}

.hero-title,
.hero-subtitle {
    @media (min-width: 641px) and (max-width: 720px){
        font-size: 20px;
    }

    @media (min-width: 720px) and (max-width: 1024px){
        font-size: 27px;
    }

    @include breakpoint(large){
        font-size: 30px;
    }

    @include breakpoint(xlarge){
        font-size: 36px;
    }
}

.hero-home {   
    background-image: url('../images/hero-graphic.svg');

    @include breakpoint(medium) {
        background-image: url('../images/hero-graphic.svg');
    }

    // ipad portrait
    // @media only screen 
    // and (min-device-width: 768px) 
    // and (max-device-width: 1024px) 
    // and (orientation: portrait) 
    // and (-webkit-min-device-pixel-ratio: 1) {
    //     background-position: -180px -80px;
    // }

    // @media only screen 
    // and (min-device-width: 768px) 
    // and (max-device-width: 1024px) 
    // and (orientation: landscape) 
    // and (-webkit-min-device-pixel-ratio: 1) {
    //     background-position: -230px -80px;
    // }

    @media (min-width: 641px) and (max-width: 720px){
        background-position: -265px -50px
    }

    @media (min-width: 720px) and (max-width: 815px){
        background-position: -225px -50px
    }

    @media (min-width: 816px) and (max-width: 939px){
        background-position: -120px -50px
    }

    @media (min-width: 940px) and (max-width: 1024px){
        background-position: -70px -20px;
    }

    @media (min-width: 1025px) and (max-width: 1199px){
        background-position: -260px -60px;
    }

    @include breakpoint(xlarge) {
        background-position: -160px -80px;
    }
    
    @include breakpoint(xxlarge) {
        background-position: -90px -80px;
    }
}

.about {
    .hero {
        background-image: url('../images/hero-graphic.svg');

        @include breakpoint(medium){
            background-image: url('../images/hero-about.svg');
            background-position: -185px -15px;
        }

        @media (min-width: 641px) and (max-width: 810px){
            background-position: -315px -20px;
        }

        @include breakpoint(large){
            background-position: -475px -45px;
        }

        @include breakpoint(xlarge){
            background-position: -395px -45px;
        }
    }
}

.learn,
.community {
    .hero {
        background-image: url('../images/hero-graphic.svg'); 

        @include breakpoint(medium){
            background-image: url('../images/hero-graphic.svg');
            background-position: -80px -60px;
        }

        @media (min-width: 641px) and (max-width: 862px){
            background-position: -190px -40px;
        }

        @include breakpoint(large){
            background-position: -530px -100px
        }

        @include breakpoint(xlarge){
            background-position: -320px -60px
        }
    }
}
