{% include header.html %}
<body class="{{ page.permalink }}"></body>
<div class="hero">
    {% include masthead.html %}
    <div class="hero-content">
        <div class="grid-x">
            <div class="cell small-10 small-offset-1 large-5 large-offset-7">
                <div class="hero-title">
                    Don't go it alone!
                </div>
                <div class="hero-subtitle">
                    We can show you how to get the most out of your microservice applications.
                </div>
                <!-- /.hero-subtitle -->
            </div>
            <!-- /.cell -->
        </div>
        <!-- /.grid-x -->
    </div>
    <!-- /.hero-content -->
</div>
<!-- /.hero -->

<main>
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell large-12">
                <!-- {{ content }} -->
                
            </div>
        </div>
    </div>    
</main>

{% include footer.html %}